<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/edison.ospina.940" target="_blank">
                        <i class="fa fa-facebook"></i>
                        facebook
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/edisonv16" target="_blank">
                        <i class="fa fa-twitter"></i>
                        twiiter
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/114659983859149474982" target="_blank"><i
                            class="fa fa-google-plus"></i>
                            Google +
                    </a>
                </li>  
            </ul>
            <ul class="copyright">
                <li>&copy; Copyright {{anio}} Edison Vidal Ospina Corredor</li>
                <li>Diseñador:<a title="CV" href="http://nausik.co/edison/"> Edison V. Ospina Corredor</a></li>
            </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
        </div>
    </div>
</footer>