<app-header></app-header>
<!-- <div class="content">
  <section>
    <div class="datospersonales">
      <figure>
        <img src="../assets/img/doctora.jpg" alt="">
      </figure>
      <h1>
        <a href="http://" target="_blank" rel="noopener noreferrer">María José Domínguez</a>
      </h1>
      <h2>Especialista en Pediatría</h2>
      <ul class="estrellas">
        <li class="active">☆</li>
        <li>☆</li>
        <li>☆</li>
        <li>☆</li>
        <li>☆</li>
      </ul>
      <p class="ubicacion">Cl. 123 #7-60 Edificio Medical Center</p>
    </div>
    <div class="datos_perfil">
      <h3>Perfil profesional</h3>
      <p>El doctor Juan Pablo Riveros tiene más de 25 años de experiencia como Cardiólogo e Internista, su énfasis ha
        sido la prevención y el tratamiento de todo tipo de enfermedades cardiovasculares y metabólicas como la
        diabetes, el sobrepeso y los factores de riesgo asociados.</p>
      <h3>Especialidades</h3>
      <ul>
        <li>
          <a href="">Cirugía cardiovascular</a>
        </li>
        <li>
          <a href="">Electrocardiograma</a>
        </li>
        <li>
          <a href="">Hipertensión</a>
        </li>
        <li>
          <a href="">Insuficiencia cardíaca</a>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <a href="http://" class="movil"><span>hoy:</span> Mar, 11 de sep</a>
    <a href="http://" class="desktop"><span>Disponible hoy:</span> Martes, 11 de septiembre</a>
    <button>Perdir cita > </button>
  </footer>

</div> -->
<div class="container">
  <router-outlet></router-outlet>
  <h3 class="mt-3">Pipes <small>Angular</small></h3>
  <hr>
  <div class="roe">
    <div class="col">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>{{nombre2}}</td>
            <td>uppercase</td>
            <td>{{nombre2 | capitalizado}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
          <tr>
            <td>{{personajes}}</td>
            <td>slice:1</td>
            <td>{{personajes | slice:1}}</td>
          </tr>
          <tr>
            <td>{{personajes}}</td>
            <td>slice:2:6</td>
            <td>{{personajes | slice:2:6}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td>number:'1.0-0'</td>
            <td>{{PI | number:'1.0-0' }}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td>number:'.0-2'</td>
            <td>{{PI | number:'.0-2' }}</td>
          </tr>
          <tr>
            <td>{{porcentaje}}</td>
            <td>porcentaje</td>
            <td>{{porcentaje | percent}}</td>
          </tr>
          <tr>
            <td>{{porcentaje}}</td>
            <td>porcentaje</td>
            <td>{{porcentaje | percent: '2.2-2'}}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td>currency</td>
            <td>{{salario | currency: 'COP': 'symbol-narrow': '.0-0' }}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td>currency</td>
            <td>{{salario | currency: 'EUR': 'symbol-narrow' }}</td>
          </tr>
          <tr>
            <td>{{valorPromesa}}</td>
            <td>async</td>
            <td>{{valorPromesa | async }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha | date }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha | date: 'medium' }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha | date: 'short' }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha | date: 'MMMM - dd' }}</td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha}}</td>
            <td>
              date: 'MMMM - dd':'':'idioma'
              <br>
              <div (click)="idioma='es'" class="mr-1 btn btn-primary">Español</div>
              <div (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</div>
              <div (click)="idioma='fr'" class="mr-1 btn btn-success">francés</div>
            </td>
          </tr>
          <tr>
            <td>{{fecha}}</td>
            <td>Feccha - Date</td>
            <td>{{fecha | date: 'MMMM - dd':'':idioma}}</td>
          </tr>
          <tr>
            <td>{{nombre2}}</td>
            <td>contraseña</td>
            <td>{{nombre2 | capitalizado}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>slice arreglo</h4>

  <ul>
    <li *ngFor="let item of personajes | slice:0">{{item}}</li>
  </ul>

  <h3>json</h3>
  <div class="row">
    <div class="col">
      <pre>
        {{heroe | json}}
      </pre>
    </div>
  </div>

  <h3>Dom seguro</h3>
  <hr>
  <div class="row">
    <div class="col">
      <iframe
        width="560"
        height="315"
        [src]="urlVideo | domseguro"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>




</div>